input[type="submit"],
button,
[aria-label] {
  cursor: pointer;
}

#editForm {
  display: none;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

form input {
  margin-right: 8px;
}
